<<<<<<< HEAD
#temperatureExtension {
	position:fixed;
	bottom:0;
	right:0;
	width:100px;
	height:100px;
	background-color:yellow;
=======
#shell #memberTools, #shell #mainTabs, #shell #editionListContainer {
	display:none !important;
>>>>>>> 929ea16a59b0da015b0cc87ea84830e8d03866c9
}